<a href="https://colab.research.google.com/github/johny1223/projects/blob/master/0_real_ds_%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D0%BE%D0%BC_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Вопрос 1. У какого фильма из списка самый большой бюджет?

In [ ]:
import pandas as pd

data1 = pd.read_csv('/content/movie_bd_v5.csv')
data1.original_title[data1.budget == max(data1.budget)]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

Вопрос 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
import pandas as pd

data2 = pd.read_csv('/content/movie_bd_v5.csv')
data2.original_title[data2.runtime == max(data2.runtime)]

1157    Gods and Generals
Name: original_title, dtype: object

Вопрос 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
import pandas as pd

data3 = pd.read_csv('/content/movie_bd_v5.csv')
data3.original_title[data3.runtime == min(data3.runtime)]

768    Winnie the Pooh
Name: original_title, dtype: object

Вопрос 4. Какова средняя длительность фильмов?

In [ ]:
import pandas as pd

data4 = pd.read_csv('/content/movie_bd_v5.csv')
data4.runtime.mean()

109.6585494970884

Вопрос 5. Каково медианное значение длительности фильмов?

In [ ]:
import pandas as pd

data5 = pd.read_csv('/content/movie_bd_v5.csv')
data5.runtime.median()

107.0

Вопрос 6. Какой фильм самый прибыльный?

In [ ]:
import pandas as pd

data6 = pd.read_csv('/content/movie_bd_v5.csv')
data6['profit']= data6.revenue - data6.budget
data6.original_title[data6.profit == max(data6.profit)]

239    Avatar
Name: original_title, dtype: object

Вопрос 7. Какой фильм самый убыточный?

In [ ]:
import pandas as pd

data7 = pd.read_csv('/content/movie_bd_v5.csv')
data7['profit']= data7.revenue - data7.budget
data7.original_title[data7.profit == min(data7.profit)]

1245    The Lone Ranger
Name: original_title, dtype: object

Вопрос 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data8=data.query('revenue > budget')
data8.imdb_id.count()

1478

Вопрос 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data['profit']= data.revenue - data.budget
data9=data.query('release_year ==2008')
data9.original_title[data9.profit == max(data9.profit)]

599    The Dark Knight
Name: original_title, dtype: object

Вопрос 10. Самый убыточный фильм за период с 2012 по 2014 годы (включительно)?

In [ ]:
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data['profit']= data.revenue - data.budget
data10=data.query('release_year >=2012 & release_year<=2014')
data10.original_title[data10.profit == min(data10.profit)]

1245    The Lone Ranger
Name: original_title, dtype: object

Вопрос 11. Какого жанра фильмов больше всего?

In [ ]:
import pandas as pd
from collections import Counter

data11 = pd.read_csv('/content/movie_bd_v5.csv')
data11['genres']=data11['genres'].apply(lambda x:x.split('|'))
Counter(data11.explode('genres')['genres']).most_common(1)

[('Drama', 782)]

Вопрос 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
import pandas as pd
from collections import Counter

data = pd.read_csv('/content/movie_bd_v5.csv')
data['profit']= data.revenue - data.budget
data12=data.query('profit > 0')
data12['genres']=data12['genres'].apply(lambda x:x.split('|'))
Counter(data12.explode('genres')['genres']).most_common(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

[('Drama', 560)]

Вопрос 13. У какого режиссёра самые большие суммарные кассовые сборы?

In [ ]:
import pandas as pd
from collections import Counter

data = pd.read_csv('/content/movie_bd_v5.csv')
data13=data.groupby('director').sum().revenue
data13= pd.DataFrame(data13)
data13[data13.revenue == max(data13.revenue)]

                  revenue
director
Peter Jackson  6490593685

Вопрос 14. Какой режиссер снял больше всего фильмов в стиле Action?

In [ ]:
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data=data[data.genres.str.contains("Action")] 
data14=data.groupby('director').count().genres
data14= pd.DataFrame(data14)
data14.genres.sort_values()

director
Adam McKay            1
Kevin Macdonald       1
Kevin Smith           1
Kurt Wimmer           1
Les Mayfield          1
                     ..
Antoine Fuqua         6
Ridley Scott          6
Robert Rodriguez      6
Paul W.S. Anderson    7
Michael Bay           7
Name: genres, Length: 345, dtype: int64

Вопрос 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
import pandas as pd

data15 = pd.read_csv('/content/movie_bd_v5.csv')
data15=data.query('release_year ==2012')
display(data15[data15.cast.str.contains("Nicolas Cage")].revenue.sum(), data15[data15.cast.str.contains("Tom Hardy")].revenue.sum(), data15[data15.cast.str.contains("Chris Hemsworth")].revenue.sum(), data15[data15.cast.str.contains("Jim Sturgess")].revenue.sum(), data15[data15.cast.str.contains("Emma Stone")].revenue.sum())

2106557

1134717867

2027450773

138589343

752215857

Вопрос 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
import pandas as pd
from collections import Counter

data = pd.read_csv('/content/movie_bd_v5.csv')
data16=data.query('budget > budget.mean()')
data16['cast']=data16['cast'].apply(lambda x:x.split('|'))
Counter(data16.explode('cast')['cast']).most_common(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

[('Matt Damon', 18)]

Вопрос 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
from collections import Counter
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data17=data[data.cast.str.contains("Nicolas Cage")]
data17['genres']=data17['genres'].apply(lambda x:x.split('|'))
Counter(data17.explode('genres')['genres']).most_common(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

[('Action', 17)]

Вопрос 18. Самый убыточный фильм от Paramount Pictures?

In [ ]:
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data['profit']= data.revenue - data.budget
data18=data[data.production_companies.str.contains("Paramount Pictures")]
data18.original_title[data18.profit == min(data18.profit)]

925    K-19: The Widowmaker
Name: original_title, dtype: object

Вопрос 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data19=data.groupby('release_year').revenue.sum()
data19.sort_values()
data19= pd.DataFrame(data19)
data19[data19.revenue == max(data19.revenue)]

                  revenue
release_year
2015          25449202382

Вопрос 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data['profit']= data.revenue - data.budget
data=data[data.production_companies.str.contains("Warner Bros")] 
data20=data.groupby('release_year').profit.sum()
data20= pd.DataFrame(data20)
data20[data20.profit == max(data20.profit)]

                  profit
release_year
2014          2295464519

Вопрос 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data['profit']= data.revenue - data.budget
data.release_date=data.release_date.str.replace('/', ' ')
def release_date_cor(data):
    return data[0:2]
data.release_date=data.release_date.apply(release_date_cor)
data21=data.groupby('release_date').imdb_id.count()
data21= pd.DataFrame(data21)
data21[data21.imdb_id == max(data21.imdb_id)]

              imdb_id
release_date
9                 227

Вопрос 22. Сколько суммарно вышло фильмов летом (за июнь, июль, август)?

In [ ]:
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data['profit']= data.revenue - data.budget
data.release_date=data.release_date.str.replace('/', ' ')
def release_date_cor(data):
    return data[0:2]
data.release_date=data.release_date.apply(release_date_cor)
data22=data.groupby('release_date').imdb_id.count()
data22= pd.DataFrame(data22)
data22.imdb_id[8]+data22.imdb_id[9]+data22.imdb_id[10]

450

Вопрос 23. Для какого режиссера зима — самое продуктивное время года?

In [ ]:
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data['director']= data['director'].apply(lambda x:x.split('|'))
data.release_date=data.release_date.str.replace('/', ' ')
def release_date_cor(data):
    return data[0:2]
data['release_date']=data.release_date.apply(release_date_cor)
data23 = data.loc[data['release_date'].isin(['12', '1', '2'])]
data23['director'].value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Peter Jackson]        7
[Clint Eastwood]       5
[Steven Soderbergh]    4
[Nancy Meyers]         4
[Edward Zwick]         3
                      ..
[Jessie Nelson]        1
[Ben Stiller]          1
[Donald Petrie]        1
[J.J. Abrams]          1
[Robert De Niro]       1
Name: director, Length: 145, dtype: int64

Вопрос 24. Какая студия даёт самые длинные названия своим фильмам по количеству символов?

In [ ]:
import pandas as pd

data = pd.read_csv('/content/movie_bd_v5.csv')
data['number_of_characters'] = data.original_title.apply(lambda x: len(x))
data['production_companies_list'] = data.production_companies.str.split('|')
production_companies_df = data.explode('production_companies_list')
data24 = production_companies_df.groupby('production_companies_list').number_of_characters.mean().sort_values(ascending=False)

production_companies_list
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: number_of_characters, Length: 1771, dtype: float64

Вопрос 25. Описания фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
import pandas as pd

data25 = pd.read_csv('/content/movie_bd_v5.csv')
data25['number_of_characters'] = data25.overview.apply(lambda x: len(x.split(' ')))
data25['production_companies_list'] = data25.production_companies.str.split('|')
production_companies_df = data25.explode('production_companies_list')
production_companies_df.groupby('production_companies_list').number_of_characters.mean().sort_values(ascending=False)

production_companies_list
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: number_of_characters, Length: 1771, dtype: float64

Вопрос 26. Какие фильмы входят в один процент лучших по рейтингу?

In [ ]:
import pandas as pd

data26 = pd.read_csv('/content/movie_bd_v5.csv')
best_movies_percent_df = data26.sort_values(by='vote_average').tail(int(data.original_title.count()/100)).original_title
best_movies_percent_df.tolist()

['The Theory of Everything',
 'The Lord of the Rings: The Two Towers',
 'There Will Be Blood',
 'Mr. Nobody',
 '12 Years a Slave',
 'The Pianist',
 'Gone Girl',
 'Memento',
 'Guardians of the Galaxy',
 'Inception',
 'The Wolf of Wall Street',
 'The Grand Budapest Hotel',
 'The Lord of the Rings: The Return of the King',
 'Room',
 'Interstellar',
 'Inside Out',
 'The Imitation Game',
 'The Dark Knight']

Вопрос 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
import pandas as pd
import itertools 
from collections import Counter

data27 = pd.read_csv('/content/movie_bd_v5.csv')
data27['cast'] = data27['cast'].str.split('|')
data27=data27['cast'].reset_index()
data27['pairs'] = data27['cast'].apply(lambda x: list(itertools.combinations(x,2)))
data27=data27.explode('pairs').reset_index()
Counter(data27['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]